<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}} - rock, paper, scissors game  </title>
</head>
<body>
    <h1>Welcome to rock, paper, scissors game</h1>

    {% block content%}

    {% endblock %}


    <nav>
        <ul>
            <li>
                <a href="/game">Go To The Game</a>
            </li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li>
                <a href="/explain">Game Explaination  </a>
            </li>
        </ul>
    </nav>
</body>
</html>