<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}} - rock, paper, scissors game  </title>
</head>
<body>
    <h1>Welcome to rock, paper, scissors game</h1>


    <h3> player 1 and player 2 please pick ur choice </h3>

    <form action="/<choice1>/<choice2>">

        <label for="player1">player1</label>
        <input list="choices" name="choice1">
        <datalist id="choices">
                <option value="Rock">
                <option value="Paper">
                <option value="Scissors">
        </datalist>
        <label for="player2">player2</label>
        <input list="choicess" name="choice2">
        <datalist id="choicess">
                <option value="Rock">
                <option value="Paper">
                <option value="Scissors">
        </datalist>

        <input type="submit" value="show result">
       
    </form>
    


    
    {% block content%}

    {% endblock %}

    <nav>
        <ul>
            <li>
                <a href="/explain">Game Explaination  </a>
            </li>
        </ul>
    </nav>

</body>
</html>